# Virtual environments
.venv/
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables (Never copy local secrets to the image)
.env

# Git
.git/
.gitignore

# IDE / Editor folders
.vscode/
.idea/
*.swp